<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="~/images/logo.png"/>
    <title>@ViewData["Sistema Intermediário"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
        <header>
            <nav>
                <strong><a href="/">Início</a></strong>
                <strong><a href="/Dashboard">Dashboard</a></strong>
                <button class="sino-btn">
                    <img src="~/images/sino.svg" alt="Notificações" />
                </button>
            </nav>
        </header>

        <main>
            @RenderBody()
        </main>

        <footer>
            <p>&copy; 2025 - Sistema Intermediário</del></p>
        </footer>
</body>
</html>