<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="~/images/logo.png"/>
    <title>@ViewData["Sistema Intermediário"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
        <header>
            <nav>
                <strong><a href="/">Início</a></strong>
                <strong><a href="/Dashboard">Dashboard</a></strong>
                <button class="user-btn" onclick="location.href='/TelaProfessor'">
                    <img src="~/images/user.png" alt="Usuário" />
                </button>
                <button class="sino-btn" onclick="openModal('@Url.Action("Edit", "User")', 'Edit User')">
                    <img src="~/images/sino.svg" alt="Notificações" />
                </button>
            </nav>
        </header>

        <main>
            @RenderBody()
        </main>

        <footer>
            <p>&copy; 2025 - Sistema Intermediário</del></p>
        </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/9.0.6/signalr.min.js"></script>
    <script src="~/js/notifications.js"></script>
    <script src="~/js/modal.js"></script>
</body>
</html>