<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Sistema Intermediário"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
        <header>
            <nav>
                <a href="/">Início</a> 
                <a href="/Dashboard">Dashboard</a>
            </nav>
        </header>

        <main>
            @RenderBody()
        </main>

        <footer>
            <p>&copy; 2025 - Sistema Intermediário</del></p>
        </footer>
</body>
</html>