.description {
    font-size: 18px;
    color: #5f5e5e;
    line-height: 1.6;
    margin: 0;
    margin-bottom: 20px;
    padding-left: 10px;
}

h1 {
    padding: 10px;
    padding-bottom: 0;
    margin: 0;
    font-weight: bold;
}

h3 {
    padding: 10px;
    margin: 0;
    font-weight: bold;
}

.tabelas {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: flex-start;
}

#alunosJson {
    background-color: #fff;
    height: 400px;
    width: 600px;
    box-shadow: 0px 2px 12px 3px rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
}

#alunosJson pre {
    margin: 0;
    margin-top: 10px;
    background: #222;
    color: #b5f4a5;
    padding: 16px;
    border-radius: 8px;
    margin-left: 10px;
    font-size: 1em;
    font-family: 'Fira Mono', 'Consolas', monospace;
}

#frequenciaFormat {
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 600px;
    box-shadow: 0px 2px 12px 3px rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
}

#frequenciaFormat table {
    border-collapse: collapse;
    text-align: center;
    height: 70px;
    width: 100%;
    table-layout: fixed;
}

#frequenciaFormat tr {
    height: 45px;
}

.status-indicador {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-left: 8px;
    vertical-align: middle;
}
.presente {
    background: green;
}
.ausente {
    background: red;
}

#frequenciaFormat th {
    background-color: rgb(9, 84, 109);
    color: white;
}
#frequenciaFormat td {
    background-color: white;
    border-bottom: 1px solid #ddd;
}
#frequenciaFormat th, #frequenciaFormat td {
    width: auto;
}