@page
@model DashboardModel
@using AttendanceTracker.DTOs;
@{
    ViewData["Title"] = "Dashboard";
}

<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/dashboard.css" />

<main>
    <p>Aqui vai o conteúdo do dashboard (gráficos, resumos, etc).</p>
</main>
