@page
@model IndexModel
@{
    ViewData["Home"] = "Página Inicial";
}

<h1>@ViewData["Home"]</h1>
<p>Bem-vindo a página do docente!</Bem-vindo></p>

<p>
    <a>Conexão com o Sistema de Detecção: </a>
    <span style="font-weight: bold;">@Model.StatusConexao</span>
</p>